@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI-Light.eot');
	src: local('./SegoeUI/Segoe UI Light'), local('SegoeUI-Light'),
		url('./SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI-Light.woff') format('woff'),
		url('./SegoeUI/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI-BoldItalic.eot');
	src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
		url('./SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI-BoldItalic.woff') format('woff'),
		url('./SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('./SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
		url('./SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('./SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI.woff') format('woff'),
		url('./SegoeUI/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('./SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI-Bold.woff') format('woff'),
		url('./SegoeUI/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./SegoeUI/SegoeUI-Italic.eot');
	src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
		url('./SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('./SegoeUI/SegoeUI-Italic.woff') format('woff'),
		url('./SegoeUI/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-ExtraBold.eot');
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
			url('./Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-ExtraBold.woff') format('woff'),
			url('./Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Heavy.eot');
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
			url('./Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Heavy.woff') format('woff'),
			url('./Gilroy/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-LightItalic.eot');
	src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
			url('./Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-LightItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-ThinItalic.eot');
	src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
			url('./Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-ThinItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-BlackItalic.eot');
	src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
			url('./Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-BlackItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-BoldItalic.eot');
	src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
			url('./Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-BoldItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-SemiBold.eot');
	src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
			url('./Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-SemiBold.woff') format('woff'),
			url('./Gilroy/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-UltraLightItalic.eot');
	src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
			url('./Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-SemiBoldItalic.eot');
	src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
			url('./Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
			url('./Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Light.woff') format('woff'),
			url('./Gilroy/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-MediumItalic.eot');
	src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
			url('./Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-MediumItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-ExtraBoldItalic.eot');
	src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
			url('./Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
			url('./Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Regular.woff') format('woff'),
			url('./Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-HeavyItalic.eot');
	src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
			url('./Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Medium.eot');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
			url('./Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Medium.woff') format('woff'),
			url('./Gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-RegularItalic.eot');
	src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
			url('./Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-RegularItalic.woff') format('woff'),
			url('./Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-UltraLight.eot');
	src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
			url('./Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-UltraLight.woff') format('woff'),
			url('./Gilroy/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
			url('./Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Bold.woff') format('woff'),
			url('./Gilroy/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Thin.eot');
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
			url('./Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Thin.woff') format('woff'),
			url('./Gilroy/Gilroy-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./Gilroy/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
			url('./Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
			url('./Gilroy/Gilroy-Black.woff') format('woff'),
			url('./Gilroy/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}